main, header, footer {
  overflow-x: hidden;
}

section {
  align-self: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: calc((100vw - 76rem - var(--grid-gap)) / 2) var(--grid-columns) calc((100vw - 76rem - var(--grid-gap)) / 2);
  gap: 0 var(--grid-gap);
  @media screen and  (max-width: 767px){
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: clamp(2rem, 10vh, 4rem) 0.5rem;

  }
}

.block {
  position: relative;
  z-index: 1;
  grid-column: 2;
  grid-row: 1/2;
  align-self: center;
}

.block__image {
  grid-column: 1/-1;
  position: absolute;
  top: 0;
  grid-row: 1/2;
  right: 0;
  left: 0;
  bottom: 0;
}

.block__image-firstplan {
  z-index: 100;

  img {
    object-fit: scale-down;
  }
}

.block__links {
  margin-top: 3rem;
}

.grid {
  grid-template-columns: var(--grid-columns);
  gap: var(--grid-gap);
}

.grid > * {
  grid-column: 1/-1;
}